.portfolio {
    height: 5rem;
    border-bottom: solid 1px #fff;
    color: $color-grey-dark;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    list-style-type: disc;
    padding: 3.5rem; 
  
    &:hover {
      transform: translateY(-5px) scaleX(1.4) scaleY(1.6); }
  }


  a {
    text-decoration: none; }
  
.text-inline {
display: inline-block;
letter-spacing: 0.5rem; }

.content {
display: flex;
flex-direction: row;
height: 50rem; }

.nav-link {
  list-style-type: none;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase; }